@import url(https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,600,700,800,900&display=swap);

@import url(https://fonts.googleapis.com/css?family=Poppins:regular,500,600,700,800,900&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Poppins";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Poppins";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[data-showmore-button] span:last-child {
  display: none;
}

._showmore-active [data-showmore-button] span {
  display: none;
}

._showmore-active [data-showmore-button] span:last-child {
  display: block;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.swiper-arrow-prev {
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 0.4375rem 0.625rem;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.swiper-arrow-next {
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 0.4375rem 0.625rem;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.swiper-arrow_blue {
  background-color: rgba(42, 148, 226, 0.5);
}

.button {
  display: inline-block;
  border: 1px solid #FFFFFF;
  padding: 0.5rem 2.375rem;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.block-header {
  text-align: center;
}

.block-header:not(:last-child) {
  margin-bottom: 2.75rem;
}

.block-header__label {
  display: inline-block;
  text-transform: uppercase;
  line-height: 3.75;
  color: #0a4b79;
  position: relative;
  padding: 0rem 5rem;
  -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 30deg);
          transform: perspective(400px) rotate3d(0, 1, 0, 30deg);
  opacity: 0;
  -webkit-transition: all 1.6s ease 0s;
  -o-transition: all 1.6s ease 0s;
  transition: all 1.6s ease 0s;
}

.block-header__label:not(:last-child) {
  margin-bottom: 1.3125rem;
}

.block-header__label::before,
.block-header__label::after {
  content: "";
  position: absolute;
  height: 0.0625rem;
  background-color: #0a4b79;
  top: 50%;
}

.block-header__label::before {
  left: 0.75rem;
}

.block-header__label::after {
  right: 0.75rem;
}

.block-header__label._active {
  -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
          transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
  opacity: 1;
}

.block-header__title {
  line-height: 1.4285714286;
  -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 30deg);
          transform: perspective(400px) rotate3d(0, 1, 0, 30deg);
  opacity: 0;
  -webkit-transition: all 2s ease 0s;
  -o-transition: all 2s ease 0s;
  transition: all 2s ease 0s;
}

.block-header__title._active {
  -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
          transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
  opacity: 1;
}

.header {
  position: absolute;
  top: 1.5625rem;
  left: 0;
  z-index: 50;
  width: 100%;
  border-bottom: 1px solid #DDDDDD;
  padding-bottom: 1.25rem;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3.375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__logo {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0px);
      -ms-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.icon-menu {
  display: none;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__link {
  font-family: "Playfair Display";
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  font-size: 0.9375rem;
  line-height: 1.4;
  position: relative;
}

.menu__link::before,
.menu__link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.125rem;
  top: 100%;
  left: 0;
  pointer-events: none;
}

.menu__link::before {
  -webkit-transform-origin: 100% 50%;
      -ms-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: scale3d(0, 1, 1);
          transform: scale3d(0, 1, 1);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  background: #0a4b79;
}

.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.9375rem;
  position: relative;
  z-index: 2;
}

.footer {
  background-color: #161D2F;
}

.footer__container {
  color: white;
}

.footer__body {
  text-align: center;
}

.footer__logo {
  display: block;
}

.footer__logo:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.footer__text {
  line-height: 2;
  max-width: 36.25rem;
  margin: 0 auto;
}

.footer__text:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.form-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-footer__input {
  padding: 0.625rem 0.9375rem;
  outline: none;
  border: none;
}

.footer-form__button {
  background-color: #2E4378;
  padding: 0.6875rem 0.625rem;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.footer__title {
  line-height: 2;
}

.footer__title:not(:last-child) {
  margin-top: 1.875rem;
}

.footer__title:not(:last-child) {
  margin-bottom: 0.625rem;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5625rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__copy {
  color: #FFFFFF;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.main-block__slider {
  position: relative;
}

.main-block__slide {
  position: relative;
}

.main-block__slide.swiper-slide-active .slide-main-block__image-ibg::before {
  background-color: rgba(0, 0, 0, 0.4);
}

.main-block__slide.swiper-slide-active .slide-main-block__image-ibg::after {
  content: "";
  opacity: 1;
}

.main-block__slide.swiper-slide-active .slide-main-block__body {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.slide-main-block__image-ibg {
  position: relative;
  width: 53.125rem;
  padding: 0rem 0rem 66.5% 0rem;
}

.slide-main-block__image-ibg::before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.slide-main-block__image-ibg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(86.13%, rgba(255, 255, 255, 0)), to(#FFFFFF));
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 86.13%, #FFFFFF 100%);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 86.13%, #FFFFFF 100%);
  opacity: 0;
}

.slide-main-block__body {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #D9D9D9;
  padding: 1.25rem 2.5rem;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate(0px, -100%);
      -ms-transform: translate(0px, -100%);
          transform: translate(0px, -100%);
  visibility: hidden;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
  transition: all 0.9s ease 0s;
}

.slide-main-block__date {
  font-size: 0.75rem;
  line-height: 1.1666666667;
  -webkit-animation: scale 1s 1;
          animation: scale 1s 1;
}

.slide-main-block__date:not(:last-child) {
  margin-bottom: 1.25rem;
}

@-webkit-keyframes scale {
  from {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0;
  }

  to {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

@keyframes scale {
  from {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0;
  }

  to {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

.slide-main-block__title {
  font-family: "Playfair Display";
  line-height: 1.325;
  -webkit-animation: scale 1.4s 1;
          animation: scale 1.4s 1;
}

.slide-main-block__title:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.slide-main-block__text {
  font-size: 0.75rem;
  line-height: 1.6666666667;
  max-width: 26.75rem;
  -webkit-animation: scale 1.8s 1;
          animation: scale 1.8s 1;
}

.slide-main-block__button {
  -webkit-animation: scale 2.2s 1;
          animation: scale 2.2s 1;
}

.main-block-arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5625rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.popular__title {
  color: #0a4b79;
  line-height: 1.0909090909;
  font-family: "Playfair Display";
  font-weight: 300;
}

.popular__body {
  min-width: 0;
}

.popular__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  -webkit-transform: scale(0.85);
      -ms-transform: scale(0.85);
          transform: scale(0.85);
  opacity: 0.95;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.popular__slide.swiper-slide-active {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popular__slide.swiper-slide-active .slide-popular__text {
  font-size: 1.125rem;
  line-height: 1.3888888889;
  -webkit-transform: translate(0px, 0px) scale(1);
      -ms-transform: translate(0px, 0px) scale(1);
          transform: translate(0px, 0px) scale(1);
}

.slide-popular__text {
  font-size: 1.125rem;
  line-height: 1.3888888889;
  -webkit-transform: translate(-100%, 0px) scale(0);
      -ms-transform: translate(-100%, 0px) scale(0);
          transform: translate(-100%, 0px) scale(0);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.slide-popular__category {
  position: relative;
}

.slide-popular__image-ibg {
  position: relative;
  width: 16.25rem;
  padding: 0rem 0rem 136% 0rem;
}

.slide-popular__image-ibg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.2);
}

.slide-popular__name {
  position: absolute;
  z-index: 2;
  top: 40%;
  right: -45%;
  width: 100%;
  height: 100%;
  color: black;
  line-height: 1.0909090909;
  font-family: "Playfair Display";
  font-weight: 600;
}

.swiper__actions {
  margin-top: 2.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-pagination {
  color: #0a4b79;
  font-size: 1.125rem;
  line-height: 1.3888888889;
  opacity: 0.8;
}

.popular-arrow-next {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75;
  letter-spacing: 0.3px;
  color: #A06056;
  position: relative;
}

.popular-arrow-next::before {
  content: "";
  position: absolute;
  top: 0.5rem;
  right: -3.75rem;
  width: 100%;
  height: 100%;
  background: url("../img/icons/right-arrow.svg") 0 0 no-repeat;
}

.furniture__items {
  display: -ms-grid;
  display: grid;
  row-gap: 2.5rem;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[3];
  grid-template-rows: repeat(3, 1fr);
}

.furniture__item {
  position: relative;
  cursor: pointer;
  -webkit-transform: scale(0.85);
      -ms-transform: scale(0.85);
          transform: scale(0.85);
  opacity: 0;
}

.furniture__item._open .furniture__content {
  opacity: 1;
  visibility: visible;
}

.furniture__item:nth-child(1) {
  -webkit-transition: all 1.2s ease 0s;
  -o-transition: all 1.2s ease 0s;
  transition: all 1.2s ease 0s;
}

.furniture__item:nth-child(2) {
  -webkit-transition: all 2s ease 0s;
  -o-transition: all 2s ease 0s;
  transition: all 2s ease 0s;
}

.furniture__item:nth-child(3) {
  -webkit-transition: all 2s ease 0s;
  -o-transition: all 2s ease 0s;
  transition: all 2s ease 0s;
}

.furniture__item:nth-child(4) {
  -webkit-transition: all 1.2s ease 0s;
  -o-transition: all 1.2s ease 0s;
  transition: all 1.2s ease 0s;
}

.furniture__item:nth-child(5) {
  -webkit-transition: all 1.2s ease 0s;
  -o-transition: all 1.2s ease 0s;
  transition: all 1.2s ease 0s;
}

.furniture__item:nth-child(6) {
  -webkit-transition: all 2s ease 0s;
  -o-transition: all 2s ease 0s;
  transition: all 2s ease 0s;
}

.furniture__item._active {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.furniture__body {
  position: relative;
}

.furniture__image-ibg {
  padding-bottom: 60.7207207207%;
  border-radius: 0.625rem;
  overflow: hidden;
  position: relative;
}

.furniture__description {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(226, 226, 226, 0.4);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 0.625rem;
}

.furniture__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.furniture__name:not(:last-child) {
  margin-bottom: 0.625rem;
}

.furniture__title {
  font-family: "Playfair Display";
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 160%;
}

.furniture__price {
  font-size: 0.875rem;
}

.furniture__button {
  background-color: #0a4b79;
}

.furniture__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.furniture__content::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 0.625rem;
}

.content-furniture__title {
  font-family: "Playfair Display";
  position: relative;
  z-index: 2;
  font-weight: 500;
  line-height: 140%;
}

.content-furniture__text {
  position: relative;
  z-index: 2;
  font-size: 1.125rem;
  line-height: 160%;
  opacity: 0.6;
  max-width: 27.4375rem;
}

.content-furniture__button {
  position: relative;
  z-index: 2;
  background-color: #0a4b79;
}

.products__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.products__items {
  display: -ms-grid;
  display: grid;
  gap: 1.875rem;
  grid-template-columns: repeat(auto-fit, minmax(15.75rem, 1fr));
}

.products__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-product__picture {
  position: relative;
}

.item-product__picture::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background-color: #FAFAFA;
}

.item-product__image-ibg {
  padding-bottom: 120.7865168539%;
}

.item-product__body {
  padding: 0.8125rem 1.25rem 1.875rem 1.25rem;
  background-color: #eeeded;
  border-radius: 0 0 0.625rem 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-product__label {
  color: #8D8D8D;
  font-size: 1rem;
  line-height: 1.25;
}

.item-product__label:not(:last-child) {
  margin-bottom: 0.375rem;
}

.item-product__name {
  text-transform: capitalize;
  color: #0a4b79;
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 1.25;
  position: relative;
}

.item-product__name:not(:last-child) {
  margin-bottom: 0.25rem;
}

.item-products__star::after {
  content: "★★★★★";
  font-size: 0.9375rem;
  color: #F6B76F;
}

.item-product__prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-product__price {
  color: #0a4b79;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.25rem;
  font-size: 1.375rem;
  line-height: 1.1818181818;
}

.item-product__price span {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 0.9375rem;
  line-height: 1.2;
}

.products__more {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #0a4b79;
  margin-top: 1.25rem;
  width: 15.3125rem;
}

.articles__slider {
  position: relative;
}

.slide-articles__body {
  border: 1px solid #ACACAC;
}

.slide-articles__image-ibg {
  padding-bottom: 86.8571428571%;
}

.slide-articles__date {
  text-align: center;
  display: inline-block;
  position: relative;
  z-index: 2;
  font-size: 1.0625rem;
  background-color: #ffffff;
  border-bottom: 0.3125rem solid #0a4b79;
  padding: 0.25rem 0.5625rem;
  margin-left: 1.8125rem;
  margin-top: -1.25rem;
}

.slide-articles__date:not(:last-child) {
  margin-bottom: 1.5rem;
}

.slide-articles__date span {
  font-size: 0.75rem;
  font-weight: 300;
}

.slide-articles__label {
  margin-left: 1.8125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5625rem;
}

.slide-articles__label:not(:last-child) {
  margin-bottom: 0.625rem;
}

.slide-articles__name {
  position: relative;
  padding-left: 1.375rem;
  color: #808080;
  font-size: 0.875rem;
}

.slide-articles__name::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/icons/man.svg") 0 0 no-repeat;
}

.slide-articles__commentary {
  position: relative;
  padding-left: 1.375rem;
  color: #808080;
  font-size: 0.875rem;
}

.slide-articles__commentary::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/icons/commentar.svg") 0 0 no-repeat;
}

.slide-articles__title {
  margin-left: 1.8125rem;
  font-size: 1.25rem;
  line-height: 1.5;
  padding-right: 0.625rem;
}

.slide-articles__title:not(:last-child) {
  margin-bottom: 0.8125rem;
}

.slide-articles__button {
  margin-left: 1.8125rem;
  background-color: #0a4b79;
  margin-bottom: 1.5625rem;
}

.articles-arrows {
  position: absolute;
  top: 40%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.swiper-arrow-prev_bg {
  background-color: rgba(42, 148, 226, 0.5);
}

.gallery__items {
  display: -ms-grid;
  display: grid;
  gap: 0.625rem;
  grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
}

.item-gallery__image-bg_r {
  -ms-grid-row-span: 2;
  grid-row: span 2;
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

.item-gallery {
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
          transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  opacity: 0.6;
  -webkit-transition: all 1.6s ease 0s;
  -o-transition: all 1.6s ease 0s;
  transition: all 1.6s ease 0s;
}

.item-gallery._active {
  -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 0deg);
          transform: perspective(400px) rotate3d(0, 1, 0, 0deg);
  opacity: 1;
}

.item-gallery._open .item-gallery__body {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.item-gallery._open .item-gallery__name {
  display: none;
}

.item-gallery._open .item-gallery__image-ibg::before {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(26.23%, rgba(83, 88, 96, 0)), color-stop(52.73%, rgba(37, 44, 56, 0.26)), to(#252C38));
  background: -o-linear-gradient(top, rgba(83, 88, 96, 0) 26.23%, rgba(37, 44, 56, 0.26) 52.73%, #252C38 100%);
  background: linear-gradient(180deg, rgba(83, 88, 96, 0) 26.23%, rgba(37, 44, 56, 0.26) 52.73%, #252C38 100%);
}

.item-gallery__picture {
  position: relative;
}

.item-gallery__image-ibg {
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  padding: 0rem 0rem 75% 0rem;
}

.item-gallery__image-ibg::before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(26.23%, rgba(83, 88, 96, 0)), color-stop(52.73%, rgba(37, 44, 56, 0.56)), to(#252C38));
  background: -o-linear-gradient(top, rgba(83, 88, 96, 0) 26.23%, rgba(37, 44, 56, 0.56) 52.73%, #252C38 100%);
  background: linear-gradient(180deg, rgba(83, 88, 96, 0) 26.23%, rgba(37, 44, 56, 0.56) 52.73%, #252C38 100%);
}

.item-gallery__name {
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  font-size: 1.375rem;
  line-height: 1.5;
  font-weight: 700;
  padding: 1.25rem;
  color: #FFFFFF;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.item-gallery__body {
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
  color: #FFFFFF;
  -webkit-transform: translate(-100%, 0px);
      -ms-transform: translate(-100%, 0px);
          transform: translate(-100%, 0px);
  opacity: 0;
  visibility: hidden;
}

.item-gallery__title {
  font-size: 1.375rem;
  line-height: 1.5;
  font-weight: 600;
}

.item-gallery__title:not(:last-child) {
  margin-bottom: 0.625rem;
}

.item-gallery__text {
  line-height: 1.5;
  color: #eaeaea;
}

.item-gallery__text:not(:last-child) {
  margin-bottom: 1.25rem;
}

.no-webp .clients{
  background: url("../img/clients/background.jpg") 0 0/100% 100% no-repeat; }

.clients__items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  row-gap: 2.5rem;
}

.clients__item {
  background-color: #ffffff;
  text-align: center;
  -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -25deg);
          transform: perspective(400px) rotate3d(0, 1, 0, -25deg);
  opacity: 0;
  -webkit-transition: all 1.6s ease 0s;
  -o-transition: all 1.6s ease 0s;
  transition: all 1.6s ease 0s;
}

.clients__item:nth-child(1) {
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.clients__item:nth-child(2) {
  -webkit-transition: all 1s ease 0.3s;
  -o-transition: all 1s ease 0.3s;
  transition: all 1s ease 0.3s;
}

.clients__item:nth-child(3) {
  -webkit-transition: all 1s ease 0.6s;
  -o-transition: all 1s ease 0.6s;
  transition: all 1s ease 0.6s;
}

.clients__item:nth-child(4) {
  -webkit-transition: all 1s ease 0.9s;
  -o-transition: all 1s ease 0.9s;
  transition: all 1s ease 0.9s;
}

.clients__item._active {
  -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 0deg);
          transform: perspective(400px) rotate3d(0, 1, 0, 0deg);
  opacity: 1;
}

.item-clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-clients__image {
  margin-top: -1.25rem;
}

.item-clients__image img {
  max-width: 100%;
}

.item-clients__image:not(:last-child) {
  margin-bottom: 1rem;
}

.item-clients__body {
  padding: 0.9375rem 1.25rem;
}

.item-clients__name {
  font-weight: 500;
  color: #1B1A1A;
  line-height: 1.4166666667;
  font-family: "Playfair Display";
}

.item-clients__name:not(:last-child) {
  margin-bottom: 0.375rem;
}

.item-clients__position {
  color: #999999;
  font-size: 0.875rem;
  line-height: 1.7142857143;
}

.item-clients__position:not(:last-child) {
  margin-bottom: 0.1875rem;
}

.item-clients__rating {
  position: relative;
}

.item-clients__rating::before {
  content: "★";
  position: absolute;
  top: -0.125rem;
  left: -9%;
  width: 100%;
  height: 100%;
  color: #F5CC26;
}

.item-clients__rating:not(:last-child) {
  margin-bottom: 0.875rem;
}

.item-clients__text {
  font-size: 0.875rem;
  line-height: 1.7142857143;
  color: #999999;
  font-weight: 300;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 47.99875em) {
  .main-block-arrows {
    position: absolute;
    top: 50%;
    width: 100%;
  }
}

@media (min-width: 96.875em) {
  .content-furniture__title {
    font-size: 2rem;
  }
}

@media (min-width: 75em) {
  .block-header__label {
    font-size: 1rem;
  }

  .block-header__label::before,
  .block-header__label::after {
    width: 3.4375rem;
  }

  .block-header__title {
    font-size: 2.625rem;
  }

  .header__menu {
    padding-right: 10rem;
  }

  .menu__list {
    gap: 7.5rem;
  }

  .menu__item:nth-child(3) {
    padding-right: 2.5rem;
  }

  .menu__item:nth-child(4) {
    padding-left: 2.5rem;
  }

  .footer__body {
    padding-top: 2.8125rem;
  }

  .footer__body {
    padding-bottom: 2.1875rem;
  }

  .footer__copy {
    padding: 1.5rem;
  }

  .main-block {
    padding-top: 9.375rem;
  }

  .slide-main-block__title {
    font-size: 2.5rem;
  }

  .slide-main-block__text:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .popular {
    padding-top: 3.75rem;
  }

  .popular {
    padding-bottom: 7.5rem;
  }

  .popular__title {
    font-size: 3.4375rem;
  }

  .popular__title {
    margin-bottom: 3.875rem;
  }

  .slide-popular__name {
    font-size: 3.4375rem;
  }

  .swiper__actions {
    gap: 6.25rem;
  }

  .furniture {
    padding-bottom: 7.5rem;
  }

  .furniture__description {
    padding: 1.25rem;
  }

  .furniture__name {
    gap: 1.5625rem;
  }

  .furniture__content {
    padding: 2.5rem;
  }

  .content-furniture__title:not(:last-child) {
    margin-bottom: 1.5625rem;
  }

  .content-furniture__text:not(:last-child) {
    margin-bottom: 1.5625rem;
  }

  .products {
    padding-bottom: 7.5rem;
  }

  .item-products__star:not(:last-child) {
    margin-bottom: 3.25rem;
  }

  .articles {
    padding-bottom: 7.5rem;
  }

  .gallery {
    padding-bottom: 7.5rem;
  }

  .clients {
    padding-top: 4.375rem;
  }

  .clients {
    padding-bottom: 5rem;
  }

  .clients-block__title:not(:last-child) {
    margin-bottom: 6.25rem;
  }

  .item-clients__name {
    font-size: 1.5rem;
  }
}

@media (max-width: 75em) {
  .furniture__item:nth-child(1) .furniture__content {
    opacity: 1;
    visibility: visible;
  }

  .furniture__item:nth-child(1)._open .furniture__content {
    opacity: 0;
    visibility: hidden;
  }

  .item-gallery:nth-child(1) .item-gallery__name {
    display: none;
  }

  .item-gallery:nth-child(1) .item-gallery__body {
    -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    opacity: 1;
    visibility: visible;
  }

  .item-gallery:nth-child(1) .item-gallery__image-ibg::before {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(26.23%, rgba(83, 88, 96, 0)), color-stop(52.73%, rgba(37, 44, 56, 0.26)), to(#252C38));
    background: -o-linear-gradient(top, rgba(83, 88, 96, 0) 26.23%, rgba(37, 44, 56, 0.26) 52.73%, #252C38 100%);
    background: linear-gradient(180deg, rgba(83, 88, 96, 0) 26.23%, rgba(37, 44, 56, 0.26) 52.73%, #252C38 100%);
  }

  .item-gallery:nth-child(1)._open .item-gallery__body {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translate(-100%, 0px);
        -ms-transform: translate(-100%, 0px);
            transform: translate(-100%, 0px);
  }

  .item-gallery:nth-child(1)._open .item-gallery__name {
    display: block;
  }

  .item-gallery:nth-child(1)._open .item-gallery__image-ibg::before {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(26.23%, rgba(83, 88, 96, 0)), color-stop(52.73%, rgba(37, 44, 56, 0.56)), to(#252C38));
    background: -o-linear-gradient(top, rgba(83, 88, 96, 0) 26.23%, rgba(37, 44, 56, 0.56) 52.73%, #252C38 100%);
    background: linear-gradient(180deg, rgba(83, 88, 96, 0) 26.23%, rgba(37, 44, 56, 0.56) 52.73%, #252C38 100%);
  }
}

@media (max-width: 20em) {
  .block-header__label {
    font-size: 0.75rem;
  }

  .block-header__label::before,
  .block-header__label::after {
    width: 2.625rem;
  }

  .block-header__title {
    font-size: 1.625rem;
  }

  .header__menu {
    padding-right: 0.0000000625rem;
  }

  .menu__list {
    gap: 0.0000000625rem;
  }

  .menu__item:nth-child(3) {
    padding-right: 1.25rem;
  }

  .menu__item:nth-child(4) {
    padding-left: 1.25rem;
  }

  .footer__body {
    padding-top: 1.875rem;
  }

  .footer__body {
    padding-bottom: 1.25rem;
  }

  .footer__copy {
    padding: 0.875rem;
  }

  .main-block {
    padding-top: 7.5rem;
  }

  .slide-main-block__title {
    font-size: 1.375rem;
  }

  .slide-main-block__text:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .popular {
    padding-top: 2.5rem;
  }

  .popular {
    padding-bottom: 3.125rem;
  }

  .popular__title {
    font-size: 2.25rem;
  }

  .popular__title {
    margin-bottom: 2rem;
  }

  .slide-popular__name {
    font-size: 2.125rem;
  }

  .swiper__actions {
    gap: 2.1875rem;
  }

  .furniture {
    padding-bottom: 3.125rem;
  }

  .furniture__description {
    padding: 0.9375rem;
  }

  .furniture__name {
    gap: 0.625rem;
  }

  .furniture__content {
    padding: 1.25rem;
  }

  .content-furniture__title:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .content-furniture__text:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .products {
    padding-bottom: 3.125rem;
  }

  .item-products__star:not(:last-child) {
    margin-bottom: 2rem;
  }

  .articles {
    padding-bottom: 3.125rem;
  }

  .gallery {
    padding-bottom: 3.125rem;
  }

  .clients {
    padding-top: 2.5rem;
  }

  .clients {
    padding-bottom: 2.5rem;
  }

  .clients-block__title:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .item-clients__name {
    font-size: 1.25rem;
  }
}

@media (max-width: 61.99875em) {
  .header {
    top: 0.625rem;
  }

  .slide-main-block__image-ibg {
    width: 40.625rem;
  }

  .main-block-arrows {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0rem 0.9375rem;
  }

  .content-furniture__text {
    height: 3.4375rem;
    overflow: scroll;
  }
}

@media (max-width: 47.99875em) {
  .swiper-arrow-prev {
    background-color: rgba(42, 148, 226, 0.7);
  }

  .swiper-arrow-next {
    background-color: rgba(42, 148, 226, 0.7);
  }

  .header__menu {
    padding: 0;
  }

  .icon-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .menu__body {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000;
    padding: 6.25rem 0.9375rem 1.25rem 0.9375rem;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }

  .menu-open .menu__body {
    top: 0;
  }

  .menu-open .menu__body::before {
    top: 0;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 4.625rem;
    background-color: white;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.875rem;
  }

  .menu__item {
    padding: 0;
    text-align: center;
    gap: 1.25rem;
  }

  .menu__item:nth-child(3),
  .menu__item:nth-child(4) {
    padding: 0;
  }

  .menu__link {
    font-size: 1.5625rem;
    color: white;
  }

  .slide-main-block__image-ibg {
    width: 26.25rem;
    padding: 0rem 0rem 86.5% 0rem;
  }

  .main-block-arrows {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1.25rem 0.9375rem;
  }

  .slide-popular__name {
    left: 5%;
  }

  .furniture__items {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (1fr)[1];
    grid-template-rows: repeat(1, 1fr);
    row-gap: 0.9375rem;
  }

  .furniture__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 47.9375em) {
  .content-furniture__title {
    font-size: 1.5rem;
  }
}

@media (max-width: 47.99875em) and (max-width: 20em) {
  .content-furniture__title {
    font-size: 1.25rem;
  }
}

@media (max-width: 29.99875em) {
  .form-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.625rem;
  }

  .slide-main-block__image-ibg {
    width: 100%;
    padding: 0rem 0rem 96.5% 0rem;
  }

  .slide-main-block__body {
    padding: 0.9375rem 1.5625rem;
  }

  .popular__slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .slide-popular__image-ibg {
    width: 100%;
    padding: 0rem 0rem 95% 0rem;
  }
}

@media (min-width: 20em) and (max-width: 75em) {
@supports (font-size: clamp( 0.75rem , 0.6590909091rem  +  0.4545454545vw , 1rem )) {
    .block-header__label {
      font-size: clamp( 0.75rem , 0.6590909091rem  +  0.4545454545vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.75rem , 0.6590909091rem  +  0.4545454545vw , 1rem )) {
    .block-header__label {
      font-size: calc(0.75rem + 0.25 * (100vw - 20rem) / 55);
    }
}

@supports (width: clamp( 2.625rem , 2.3295454545rem  +  1.4772727273vw , 3.4375rem )) {
    .block-header__label::before,
    .block-header__label::after {
      width: clamp( 2.625rem , 2.3295454545rem  +  1.4772727273vw , 3.4375rem );
    }
}

@supports not (width: clamp( 2.625rem , 2.3295454545rem  +  1.4772727273vw , 3.4375rem )) {
    .block-header__label::before,
    .block-header__label::after {
      width: calc(2.625rem + 0.8125 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1.625rem , 1.2613636364rem  +  1.8181818182vw , 2.625rem )) {
    .block-header__title {
      font-size: clamp( 1.625rem , 1.2613636364rem  +  1.8181818182vw , 2.625rem );
    }
}

@supports not (font-size: clamp( 1.625rem , 1.2613636364rem  +  1.8181818182vw , 2.625rem )) {
    .block-header__title {
      font-size: calc(1.625rem + 1 * (100vw - 20rem) / 55);
    }
}

@supports (padding-right: clamp( 0.0000000625rem , -3.6363635511rem  +  18.1818180682vw , 10rem )) {
    .header__menu {
      padding-right: clamp( 0.0000000625rem , -3.6363635511rem  +  18.1818180682vw , 10rem );
    }
}

@supports not (padding-right: clamp( 0.0000000625rem , -3.6363635511rem  +  18.1818180682vw , 10rem )) {
    .header__menu {
      padding-right: calc(0.0000000625rem + 9.9999999375 * (100vw - 20rem) / 55);
    }
}

@supports (gap: clamp( 0.0000000625rem , -2.727272642rem  +  13.6363635227vw , 7.5rem )) {
    .menu__list {
      gap: clamp( 0.0000000625rem , -2.727272642rem  +  13.6363635227vw , 7.5rem );
    }
}

@supports not (gap: clamp( 0.0000000625rem , -2.727272642rem  +  13.6363635227vw , 7.5rem )) {
    .menu__list {
      gap: calc(0.0000000625rem + 7.4999999375 * (100vw - 20rem) / 55);
    }
}

@supports (padding-right: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem )) {
    .menu__item:nth-child(3) {
      padding-right: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem );
    }
}

@supports not (padding-right: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem )) {
    .menu__item:nth-child(3) {
      padding-right: calc(1.25rem + 1.25 * (100vw - 20rem) / 55);
    }
}

@supports (padding-left: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem )) {
    .menu__item:nth-child(4) {
      padding-left: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem );
    }
}

@supports not (padding-left: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem )) {
    .menu__item:nth-child(4) {
      padding-left: calc(1.25rem + 1.25 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 1.875rem , 1.5340909091rem  +  1.7045454545vw , 2.8125rem )) {
    .footer__body {
      padding-top: clamp( 1.875rem , 1.5340909091rem  +  1.7045454545vw , 2.8125rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.5340909091rem  +  1.7045454545vw , 2.8125rem )) {
    .footer__body {
      padding-top: calc(1.875rem + 0.9375 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.9090909091rem  +  1.7045454545vw , 2.1875rem )) {
    .footer__body {
      padding-bottom: clamp( 1.25rem , 0.9090909091rem  +  1.7045454545vw , 2.1875rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.9090909091rem  +  1.7045454545vw , 2.1875rem )) {
    .footer__body {
      padding-bottom: calc(1.25rem + 0.9375 * (100vw - 20rem) / 55);
    }
}

@supports (padding: clamp( 0.875rem , 0.6477272727rem  +  1.1363636364vw , 1.5rem )) {
    .footer__copy {
      padding: clamp( 0.875rem , 0.6477272727rem  +  1.1363636364vw , 1.5rem );
    }
}

@supports not (padding: clamp( 0.875rem , 0.6477272727rem  +  1.1363636364vw , 1.5rem )) {
    .footer__copy {
      padding: calc(0.875rem + 0.625 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 7.5rem , 6.8181818182rem  +  3.4090909091vw , 9.375rem )) {
    .main-block {
      padding-top: clamp( 7.5rem , 6.8181818182rem  +  3.4090909091vw , 9.375rem );
    }
}

@supports not (padding-top: clamp( 7.5rem , 6.8181818182rem  +  3.4090909091vw , 9.375rem )) {
    .main-block {
      padding-top: calc(7.5rem + 1.875 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1.375rem , 0.9659090909rem  +  2.0454545455vw , 2.5rem )) {
    .slide-main-block__title {
      font-size: clamp( 1.375rem , 0.9659090909rem  +  2.0454545455vw , 2.5rem );
    }
}

@supports not (font-size: clamp( 1.375rem , 0.9659090909rem  +  2.0454545455vw , 2.5rem )) {
    .slide-main-block__title {
      font-size: calc(1.375rem + 1.125 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem )) {
    .slide-main-block__text:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem )) {
    .slide-main-block__text:not(:last-child) {
      margin-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 2.5rem , 2.0454545455rem  +  2.2727272727vw , 3.75rem )) {
    .popular {
      padding-top: clamp( 2.5rem , 2.0454545455rem  +  2.2727272727vw , 3.75rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 2.0454545455rem  +  2.2727272727vw , 3.75rem )) {
    .popular {
      padding-top: calc(2.5rem + 1.25 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 1.5340909091rem  +  7.9545454545vw , 7.5rem )) {
    .popular {
      padding-bottom: clamp( 3.125rem , 1.5340909091rem  +  7.9545454545vw , 7.5rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 1.5340909091rem  +  7.9545454545vw , 7.5rem )) {
    .popular {
      padding-bottom: calc(3.125rem + 4.375 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 2.25rem , 1.8181818182rem  +  2.1590909091vw , 3.4375rem )) {
    .popular__title {
      font-size: clamp( 2.25rem , 1.8181818182rem  +  2.1590909091vw , 3.4375rem );
    }
}

@supports not (font-size: clamp( 2.25rem , 1.8181818182rem  +  2.1590909091vw , 3.4375rem )) {
    .popular__title {
      font-size: calc(2.25rem + 1.1875 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 2rem , 1.3181818182rem  +  3.4090909091vw , 3.875rem )) {
    .popular__title {
      margin-bottom: clamp( 2rem , 1.3181818182rem  +  3.4090909091vw , 3.875rem );
    }
}

@supports not (margin-bottom: clamp( 2rem , 1.3181818182rem  +  3.4090909091vw , 3.875rem )) {
    .popular__title {
      margin-bottom: calc(2rem + 1.875 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 2.125rem , 1.6477272727rem  +  2.3863636364vw , 3.4375rem )) {
    .slide-popular__name {
      font-size: clamp( 2.125rem , 1.6477272727rem  +  2.3863636364vw , 3.4375rem );
    }
}

@supports not (font-size: clamp( 2.125rem , 1.6477272727rem  +  2.3863636364vw , 3.4375rem )) {
    .slide-popular__name {
      font-size: calc(2.125rem + 1.3125 * (100vw - 20rem) / 55);
    }
}

@supports (gap: clamp( 2.1875rem , 0.7102272727rem  +  7.3863636364vw , 6.25rem )) {
    .swiper__actions {
      gap: clamp( 2.1875rem , 0.7102272727rem  +  7.3863636364vw , 6.25rem );
    }
}

@supports not (gap: clamp( 2.1875rem , 0.7102272727rem  +  7.3863636364vw , 6.25rem )) {
    .swiper__actions {
      gap: calc(2.1875rem + 4.0625 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 1.5340909091rem  +  7.9545454545vw , 7.5rem )) {
    .furniture {
      padding-bottom: clamp( 3.125rem , 1.5340909091rem  +  7.9545454545vw , 7.5rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 1.5340909091rem  +  7.9545454545vw , 7.5rem )) {
    .furniture {
      padding-bottom: calc(3.125rem + 4.375 * (100vw - 20rem) / 55);
    }
}

@supports (padding: clamp( 0.9375rem , 0.8238636364rem  +  0.5681818182vw , 1.25rem )) {
    .furniture__description {
      padding: clamp( 0.9375rem , 0.8238636364rem  +  0.5681818182vw , 1.25rem );
    }
}

@supports not (padding: clamp( 0.9375rem , 0.8238636364rem  +  0.5681818182vw , 1.25rem )) {
    .furniture__description {
      padding: calc(0.9375rem + 0.3125 * (100vw - 20rem) / 55);
    }
}

@supports (gap: clamp( 0.625rem , 0.2840909091rem  +  1.7045454545vw , 1.5625rem )) {
    .furniture__name {
      gap: clamp( 0.625rem , 0.2840909091rem  +  1.7045454545vw , 1.5625rem );
    }
}

@supports not (gap: clamp( 0.625rem , 0.2840909091rem  +  1.7045454545vw , 1.5625rem )) {
    .furniture__name {
      gap: calc(0.625rem + 0.9375 * (100vw - 20rem) / 55);
    }
}

@supports (padding: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem )) {
    .furniture__content {
      padding: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem );
    }
}

@supports not (padding: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem )) {
    .furniture__content {
      padding: calc(1.25rem + 1.25 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.2840909091rem  +  1.7045454545vw , 1.5625rem )) {
    .content-furniture__title:not(:last-child) {
      margin-bottom: clamp( 0.625rem , 0.2840909091rem  +  1.7045454545vw , 1.5625rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.2840909091rem  +  1.7045454545vw , 1.5625rem )) {
    .content-furniture__title:not(:last-child) {
      margin-bottom: calc(0.625rem + 0.9375 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.2840909091rem  +  1.7045454545vw , 1.5625rem )) {
    .content-furniture__text:not(:last-child) {
      margin-bottom: clamp( 0.625rem , 0.2840909091rem  +  1.7045454545vw , 1.5625rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.2840909091rem  +  1.7045454545vw , 1.5625rem )) {
    .content-furniture__text:not(:last-child) {
      margin-bottom: calc(0.625rem + 0.9375 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 1.5340909091rem  +  7.9545454545vw , 7.5rem )) {
    .products {
      padding-bottom: clamp( 3.125rem , 1.5340909091rem  +  7.9545454545vw , 7.5rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 1.5340909091rem  +  7.9545454545vw , 7.5rem )) {
    .products {
      padding-bottom: calc(3.125rem + 4.375 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 2rem , 1.5454545455rem  +  2.2727272727vw , 3.25rem )) {
    .item-products__star:not(:last-child) {
      margin-bottom: clamp( 2rem , 1.5454545455rem  +  2.2727272727vw , 3.25rem );
    }
}

@supports not (margin-bottom: clamp( 2rem , 1.5454545455rem  +  2.2727272727vw , 3.25rem )) {
    .item-products__star:not(:last-child) {
      margin-bottom: calc(2rem + 1.25 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 1.5340909091rem  +  7.9545454545vw , 7.5rem )) {
    .articles {
      padding-bottom: clamp( 3.125rem , 1.5340909091rem  +  7.9545454545vw , 7.5rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 1.5340909091rem  +  7.9545454545vw , 7.5rem )) {
    .articles {
      padding-bottom: calc(3.125rem + 4.375 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 1.5340909091rem  +  7.9545454545vw , 7.5rem )) {
    .gallery {
      padding-bottom: clamp( 3.125rem , 1.5340909091rem  +  7.9545454545vw , 7.5rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 1.5340909091rem  +  7.9545454545vw , 7.5rem )) {
    .gallery {
      padding-bottom: calc(3.125rem + 4.375 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 2.5rem , 1.8181818182rem  +  3.4090909091vw , 4.375rem )) {
    .clients {
      padding-top: clamp( 2.5rem , 1.8181818182rem  +  3.4090909091vw , 4.375rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 1.8181818182rem  +  3.4090909091vw , 4.375rem )) {
    .clients {
      padding-top: calc(2.5rem + 1.875 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 1.5909090909rem  +  4.5454545455vw , 5rem )) {
    .clients {
      padding-bottom: clamp( 2.5rem , 1.5909090909rem  +  4.5454545455vw , 5rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.5909090909rem  +  4.5454545455vw , 5rem )) {
    .clients {
      padding-bottom: calc(2.5rem + 2.5 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 0.2840909091rem  +  7.9545454545vw , 6.25rem )) {
    .clients-block__title:not(:last-child) {
      margin-bottom: clamp( 1.875rem , 0.2840909091rem  +  7.9545454545vw , 6.25rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 0.2840909091rem  +  7.9545454545vw , 6.25rem )) {
    .clients-block__title:not(:last-child) {
      margin-bottom: calc(1.875rem + 4.375 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1.25rem , 1.1590909091rem  +  0.4545454545vw , 1.5rem )) {
    .item-clients__name {
      font-size: clamp( 1.25rem , 1.1590909091rem  +  0.4545454545vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.1590909091rem  +  0.4545454545vw , 1.5rem )) {
    .item-clients__name {
      font-size: calc(1.25rem + 0.25 * (100vw - 20rem) / 55);
    }
}
}

@media (min-width: 47.9375em) and (max-width: 96.875em) {
@supports (font-size: clamp( 1.5rem , 1.0102171137rem  +  1.0217113665vw , 2rem )) {
    .content-furniture__title {
      font-size: clamp( 1.5rem , 1.0102171137rem  +  1.0217113665vw , 2rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.0102171137rem  +  1.0217113665vw , 2rem )) {
    .content-furniture__title {
      font-size: calc(1.5rem + 0.5 * (100vw - 47.9375rem) / 48.9375);
    }
}
}

@media (max-width: 47.99875em) and (min-width: 47.9375em) {
  .content-furniture__title {
    font-size: 2.625rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 47.9375em) {
@supports (font-size: clamp( 1.25rem , 0.2656599553rem  +  4.9217002237vw , 2.625rem )) {
    .content-furniture__title {
      font-size: clamp( 1.25rem , 0.2656599553rem  +  4.9217002237vw , 2.625rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 0.2656599553rem  +  4.9217002237vw , 2.625rem )) {
    .content-furniture__title {
      font-size: calc(1.25rem + 1.375 * (100vw - 20rem) / 27.9375);
    }
}
}

@media (any-hover: hover) {
  .swiper-arrow-prev:hover {
    border: 1px solid rgb(255, 255, 255);
  }

  .swiper-arrow-next:hover {
    border: 1px solid rgb(255, 255, 255);
  }

  .button:hover {
    border: 1px solid #000;
    color: #000;
    background-color: #FFFFFF;
  }

  .menu__link:hover::before {
    -webkit-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }

  .footer-form__button:hover {
    background-color: #4568c0;
  }

  .furniture__item:hover .furniture__content {
    opacity: 1;
    visibility: visible;
  }

  .products__item:hover {
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }

  .products__item:hover .item-product__cart {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }

  .products__item:hover .item-product__cart::before {
    content: "";
    position: absolute;
    border-radius: 0.625rem;
    top: 0;
    z-index: 1;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.25);
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }

  .item-gallery:hover {
    cursor: pointer;
  }

  .item-gallery:hover .item-gallery__name {
    display: none;
  }

  .item-gallery:hover .item-gallery__body {
    -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    opacity: 1;
    visibility: visible;
  }

  .item-gallery:hover .item-gallery__image-ibg::before {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(26.23%, rgba(83, 88, 96, 0)), color-stop(52.73%, rgba(37, 44, 56, 0.26)), to(#252C38));
    background: -o-linear-gradient(top, rgba(83, 88, 96, 0) 26.23%, rgba(37, 44, 56, 0.26) 52.73%, #252C38 100%);
    background: linear-gradient(180deg, rgba(83, 88, 96, 0) 26.23%, rgba(37, 44, 56, 0.26) 52.73%, #252C38 100%);
  }
}

.webp .clients{ background: url(../img/clients/background.webp) 0 0/100% 100% no-repeat; }